mixin title(text,size,cls)
    div(class="title-block title-block_" + size + ' '+ cls)
        span.title-dec.title-dec-1
        span.title-dec.title-dec-2
        if size == 'large'
            span.title-dec.title-dec-3
        span(class="title-" + size)=text        
        if size == 'large'
            span.title-dec.title-dec-3
        span.title-dec.title-dec-2
        span.title-dec.title-dec-1