mixin title(text,cls)
    div(class="title-block title-block-" + cls)
        span.title-dec.title-dec-1
        span.title-dec.title-dec-2
        if cls == 'large'
            span.title-dec.title-dec-3
        span(class="title-" + cls)=text
        if cls == 'large'
            span.title-dec.title-dec-3
        span.title-dec.title-dec-2
        span.title-dec.title-dec-1