.header {
    width: 100vw;
    height: 100vh;
    min-height: rem(650px);
    background-image: url('../img/misc/bg.svg'), url('../img/sand.jpg');
    background-position: center 130%, left 15%;
    background-repeat: no-repeat, repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top {
        padding: rem(28px);
        @extend %clearfix;
        .socials {
            float: left;
            &__link {
                &:hover {
                    color: $dark-brown;
                }
            }
        }
    }
}