.header {
    height: 100vh;
    background-image: url('../img/sand.jpg');
    background-color: #faecdc;
    background-position: left center;
    background-attachment: fixed;
    background-repeat: repeat-x;
    display: flex;
    position: relative;
    &-top {
        padding: rem(28px);
        @extend %clearfix;
        position: absolute;
        width: 100%;
        .socials {
            float: left;
            &__link {
                &:hover {
                    color: $dark-brown;
                }
                @include iphone {
                    font-size: rem(24px);
                }
            }
        }
        @include iphone {
            padding: rem(11px) rem(8px);
        }
    }
    &__bg {
        width: 50%;
        position: absolute;
        bottom: 0;
        fill: $white;
        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
    }
    &__svg-title {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba($dark-brown, .1);
    }
    .avatar {
        z-index: 1;
    }
}