.nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    &:before,
    &:after {
        background: rgba($light-brown, .87);
        width: 0vw;
        height: 100vh;
        position: absolute;
        display: block;
        content: '';
        z-index: -1;
        transition: 300ms;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        top: 0;
        right: 0;
    }
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__link {
        padding: rem(45px) 0;
        @extend .title-large;
        text-decoration: none;
        color: white;
        transition: 300ms;
        display: block;
        .title {
            &-block {
                margin: 0;
            }
            &-large {
                color: white;
            }
            &-dec {
                background: none;
                transition: 300ms;
            }
        }
        &:hover {
            .title-dec {
                background: white;
            }
        }
    }
    &-toggle {
        position: absolute;
        right: rem(30px);
        &__el {
            background: white;
            height: rem(5px);
            width: rem(40px);
            transition: 300ms;
            border-radius: rem(2px);
            position: relative;
            &_second {
                margin: rem(10px) 0;
            }
        }
        &_active {
            position: fixed;
            .nav-toggle__el {
                //!!!!!!!!!!!!!
            }
        }
    }
    &_active {
        // background: blue;
        &:before,
        &:after {
            width: 50vw;
        }
    }
}