extends ../templates/layout.pug

block variables
    - var title = 'Обо мне'
    - var bodyStyle = 'about-body'

block content
    include ../sections/header.pug
    .about
        .bio
            .about-title-wrap
                .title-large.about-title Обо мне        
            .bio-block
                .about-avatar
                    img.about-avatar__img(src="../img/misc/avatar-large.jpg")
                .title-medium.bio-title Кто я
                .bio-text
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .skills
            .title-medium.skills-header Чем я могу быть<br>вам полезен
            .skills__descr    
                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            div.skills-block
                .skills__title Frontend
                ul.skills-list
                    li.skills-item
                        div.chart
                            div.chart__value 90
                            div.chart__name HTML5
                    li.skills-item
                        div.chart
                            div.chart__value 85
                            div.chart__name CSS3
                    li.skills-item
                        div.chart
                            div.chart__value 85
                            div.chart__name JavaScript & JQuery
            div.skills-block
                .skills__title Backend
                ul.skills-list
                    li.skills-item
                        div.chart
                            div.chart__value 45
                            div.chart__name PHP
                    li.skills-item
                        div.chart
                            div.chart__value 55
                            div.chart__name mySQL
                    li.skills-item
                        div.chart
                            div.chart__value 40
                            div.chart__name Node.js & npm
                    li.skills-item
                        div.chart
                            div.chart__value 65
                            div.chart__name Mongo.db
            div.skills-block
                .skills__title WorkFlow
                ul.skills-list
                    li.skills-item
                        div.chart
                            div.chart__value 80
                            div.chart__name Git
                    li.skills-item
                        div.chart
                            div.chart__value 70
                            div.chart__name Gulp
                    li.skills-item
                        div.chart
                            div.chart__value 85
                            div.chart__name Bower
    .contacts
        #map
        .window.contacts-window
            .window-content
                .title-medium.contacts-title Контакты
                ul.contacts-list
                    li.contacts__item 
                        +icon('skype','contacts-icon')
                        | skype_kdn
                    li.contacts__item 
                        +icon('envelope2','contacts-icon')
                        | astahov@gmail.com
                    li.contacts__item 
                        +icon('phone2','contacts-icon')
                        | +7 931 200 93 24
                    li.contacts__item 
                        +icon('map_marker','contacts-icon')
                        | Новосибирск, ул. Инская, д.14