extends ../templates/page.pug

block variables
    - var title = "Добро пожаловать!"

block page
    .wrapper_welcome
        .desert
        main.welcome
            a.btn.btn-auth.show-auth(href="#") Авторизоваться
            section.welcome-forms
                .window.window_greet
                    .window-content
                        include ../includes/avatar.pug
                        include ../includes/socials.pug
                    .window-btns
                        ul.window-btns__list
                            li.window-btns__item
                                a.window-btns__link.btn(href="works.html") Мои работы
                            li.window-btns__item
                                a.window-btns__link.btn(href="about.html") Обо мне
                            li.window-btns__item
                                a.window-btns__link.btn(href="blog.html") Блог
                .window.window_auth.window_rotate
                    .window-content
                        +title('Авторизуйтесь','medium','title_white')
                        .input-group
                            input(type="text" placeholder="Логин")
                            .input-group__icon
                                +icon('login','')
                        .input-group
                            input(type="password" placeholder="Пароль")
                            .input-group__icon
                                +icon('password','')
                        .robot
                            input(type="checkbox" id="checkHuman")
                            label(for="checkHuman") Я человек
                            .robot-group
                                .robot-group__title Вы точно не робот?
                                input(type="radio" name="checkRobot" id="isHuman")
                                label(for="isHuman") Да
                                input(type="radio" name="checkRobot" id="isRobot")
                                label(for="isRobot") Не уверен
                    .window-btns
                        ul.window-btns__list
                            li.window-btns__item.window-btns__item_half
                                a.window-btns__link.btn.show-greet(href="#") На главную
                            li.window-btns__item.window-btns__item_half
                                a.window-btns__link.btn(href="#") Войти
            footer.welcome-footer
                .welcome-footer__block © Владимир Астахов | создано с любовью в LoftShool | 2016