extends ../templates/layout.pug

block variables
    - var title = 'Мои работы'
    - var bodyStyle = 'works-body'

block content
    include ../sections/header.pug
    .works
        .works-top
            //- +page-header('Мои работы','urltest')
            .title-large.works-title Мои работы
            .slider
                .slider-ctrl
                    .slider-ctrl-prev
                        a(href="#").slider-ctrl__link.slider-ctrl__link_prev
                            i.fa.fa-chevron-down(aria-hidden="true")
                        .slider-ctrl__bg
                            img.slider-ctrl__img
                        .slider-ctrl__bg
                            img.slider-ctrl__img
                    .slider-ctrl-next
                        a(href="#").slider-ctrl__link.slider-ctrl__link_next
                            i.fa.fa-chevron-up(aria-hidden="true")
                        .slider-ctrl__bg
                            img.slider-ctrl__img
                        .slider-ctrl__bg
                            img.slider-ctrl__img
                ul.slider-list
                    +slider-item('Сайт школы онлайн образования','HTML, CSS, JavaScript','https://loftschool.com','../img/works/slider/work-1.png')
                    +slider-item('itLoft','HTML, CSS, JavaScript','https://itloft.ru','../img/works/slider/work-2.png')
                    +slider-item('Loftblog','HTML, CSS, JavaScript','https://loftblog.ru','../img/works/slider/work-3.png')
                    +slider-item('Атма йога','HTML, CSS, JavaScript','http://atmayoga.ru/','../img/works/slider/work-4.png')
        .quotes
            //- +page-header('Что обо мне говорят','urltest')
            .title-large.quotes-title Что обо мне говорят
            ul.quotes-list
                li.quotes__item
                    .quotes__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .quotes-author
                        .quotes-author__avatar.quotes-author__avatar_kovalchuk
                        .quotes-author-person                                
                            .quotes-author__name Ковальчук Дмитрий
                            .quotes-author__occ основатель Loftschool
                li.quotes__item
                    .quotes__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .quotes-author
                        .quotes-author__avatar.quotes-author__avatar_zakharov
                        .quotes-author-person
                            .quotes-author__name Зар Захаров
                            .quotes-author__occ преподаватель
        .feedback
            .window.feedback_window
                .window-content
                    .title-medium Связаться со мной 
                    input(type="text" placeholder="Имя")
                    input(type="email" placeholder="Email")
                    textarea(placeholder="Ваше сообщение").feedback_window__textarea
                .window-btns
                    ul.window-btns__list
                        li.window-btns__item
                            a.window-btns__link.btn(href="#") Отправить
                        li.window-btns__item
                            a.window-btns__link.btn(href="#") Очистить
        .view-toggle
            a.view-toggle__btn.view-toggle__btn_up(href="#")
                +icon('portf_arrow_up','')