.avatar
    .avatar__img
        //- img.avatar__pic(src="http://lorempixel.com/output/nature-q-c-200-200-2.jpg" alt="")
    .avatar__name Владимир Астахов
    .avatar__title Личный сайт веб разработчика