ul.contacts-list
    li.contacts__item
        a.contacts__link(href="#") skype_kdn
    li.footer-contacts__item
        a.contacts__link(href="#") astahov@gmail.com
    li.contacts__item
        a.contacts__link(href="#") +7 931 200 93 24
    li.contacts__item
        a.contacts__link(href="#") Новосибирск, ул. Инская, д.14