.socials
    ul.socials-list
        li.socials__item
            a.socials__link(href="https://vk.com" target="_blank")
                i.fa.fa-vk(aria-hidden="true")
        li.socials__item
            a.socials__link(href="https://github.com" target="_blank")
                i.fa.fa-github-alt(aria-hidden="true")        
        li.socials__item        
            a.socials__link(href="https://linkedin.com" target="_blank")
                i.fa.fa-linkedin(aria-hidden="true")        