footer.footer
    .footer-block.footer-block_left
        .footer__descr_white Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__descr © Владимир Астахов
        .footer__descr Создано с любовью в LoftSchool | 2016
    .footer-block.footer-block_center
        nav.footer-nav
            ul.footer-nav-list
                li.footer-nav__item
                    a.footer-nav__link(href="works.html") Мои работы
                li.footer-nav__item
                    a.footer-nav__link(href="about.html") Обо мне
                li.footer-nav__item
                    a.footer-nav__link(href="blog.html") Блог
                li.footer-nav__item
                    a.footer-nav__link(href="index.html") Авторизация
        include ../includes/socials.pug
    .footer-block.footer-block_right
        include ../includes/contacts.pug