header.header
    .header-top
        include ../includes/socials.pug
        .nav-toggle
            span.nav-toggle__element _
            span.nav-toggle__element _
            span.nav-toggle__element _
    include ../includes/avatar.pug