header.header
    .header-top
        include ../includes/socials.pug
        .nav-toggle
            div.nav-toggle__element.nav-toggle__element_tgl-first
            div.nav-toggle__element.nav-toggle__element_tgl-second
            div.nav-toggle__element.nav-toggle__element_tgl-third
    include ../includes/avatar.pug
    .header-to-bottom
        a.header-to-bottom__btn(href="#")
            +icon('portf_arrow_down','')