header.header
    .header-top
        include ../includes/socials.pug
        .nav-toggle
            a.nav-toggle-btn(href="#")
                div.nav-toggle__el.nav-toggle__el_first
                div.nav-toggle__el.nav-toggle__el_second
                div.nav-toggle__el.nav-toggle__el_third
    include ../includes/avatar.pug
    .view-toggle
        a.view-toggle__btn.view-toggle__btn_down(href="#")
            +icon('portf_arrow_down','')