nav.nav
    ul.nav-list
        li.nav__item
            a.nav__link(href="works.html")
                +title('Мои работы','large','')
        li.nav__item
            a.nav__link(href="about.html")
                +title('Обо мне','large','')
        li.nav__item
            a.nav__link(href="blog.html")
                +title('Блог','large','')
        li.nav__item
            a.nav__link(href="index.html")
                +title('Авторизация','large','')