nav.nav
    ul.nav-list
        li.nav__item
            a.nav__link(href="works.html").title-large.title-large_white Мои работы
                //- +title('Мои работы','large','')
        li.nav__item
            a.nav__link(href="about.html").title-large.title-large_white Обо мне
                //- +title('Обо мне','large','')
        li.nav__item
            a.nav__link(href="blog.html").title-large.title-large_white Блог
                //- +title('Блог','large','')
        li.nav__item
            a.nav__link(href="index.html").title-large.title-large_white Авторизация
                //- +title('Авторизация','large','')