nav.nav
    ul.nav-list
        li.nav__item
            a.nav__link(href="works.html").title-large.title-large_white Мои работы
        li.nav__item
            a.nav__link(href="about.html").title-large.title-large_white Обо мне
        li.nav__item
            a.nav__link(href="blog.html").title-large.title-large_white Блог
        li.nav__item
            a.nav__link(href="index.html").title-large.title-large_white Авторизация