html {
    font-size: $html-font-size;
    min-height: 100%;
}

body {
    font-family: 'RobotoRegular';
    color: $light-grey;
    height: 100%;
    line-height: 1.65;
    background: $white;
    @include tablets {
        font-size: rem(14px);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.maincontent {
    width: 100%;
    height: 100%;
}

.btn {
    color: white;
    background: rgba($light-brown, .85);
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: 'RobotoMedium';
    padding: rem(11px) rem(27px);
    line-height: 1.45;
    &:hover {
        background: rgba($dark-brown, 0.85);
    }
    .fa {
        margin-right: rem(10px);
        vertical-align: bottom;
        font-size: rem(22px);
    }
    @include iphone {
        padding: rem(9px) rem(21px);
    }
}

.window {
    overflow: hidden;
    border-radius: rem(5px);
    backface-visibility: hidden;
    width: rem(380px);
    transition: 1s;
    background: rgba(#d7bf9b, .3);
    margin: auto;
    @include tablets {
        width: rem(348px);
    }
    @include mediaMax(360px) {
        width: rem(300px);
    }
    &-content {
        padding: rem(38px) rem(20px) rem(20px);
    }
    &-btns {
        display: table;
        width: 100%;
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: table-row;
        }
        &__item {
            display: table-cell;
            border-left: 1px solid #e2c68c;
            border-right: 1px solid #e2c68c;
            &:hover {
                border-color: #d5b683;
            }
            &:first-child {
                border-left: 0;
            }
            &:last-child {
                border-right: 0;
            }
            &_half {
                width: 50%;
            }
        }
        &__link {
            border-radius: 0;
            width: 100%;
            @include mediaMax(360px) {
                padding: rem(12.5px) rem(21px);
            }
        }
    }
}

.title {
    &-large,
    &-medium {
        font-family: 'SansusRegular';
        text-transform: uppercase;
        text-align: center;
        line-height: 1.15;
        display: table;
        &:before,
        &:after {
            display: table-cell;
            content: '';
            background-position: center center;
            background-repeat: no-repeat;
            opacity: .2;
            transition: $transition;
        }
    }
    &-large {
        font-size: rem(63px);
        margin: rem(70px) auto;
        @include tablets {
            font-size: rem(49px);
        }
        @include iphone {
            font-size: rem(35px);
        }
        &:before,
        &:after {
            width: rem(67px);
        }
        &:before {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjdweCIgaGVpZ2h0PSIxNHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGZpbGw9ImJsYWNrIj4NCiAgPGNpcmNsZSBjeD0iMyIgY3k9IjciIHI9IjMiLz4NCiAgPGNpcmNsZSBjeD0iMTUiIGN5PSI3IiByPSI1Ii8+DQogIDxjaXJjbGUgY3g9IjMyIiBjeT0iNyIgcj0iNyIvPg0KPC9nPg0KPC9zdmc+')
        }
        &:after {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjdweCIgaGVpZ2h0PSIxNHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGZpbGw9ImJsYWNrIj4NCiAgPGNpcmNsZSBjeD0iMzUiIGN5PSI3IiByPSI3Ii8+DQogIDxjaXJjbGUgY3g9IjUyIiBjeT0iNyIgcj0iNSIvPg0KICA8Y2lyY2xlIGN4PSI2NCIgY3k9IjciIHI9IjMiLz4NCjwvZz4NCjwvc3ZnPg==');
        }
        &_white {
            color: white;
            &:before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjdweCIgaGVpZ2h0PSIxNHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGZpbGw9IndoaXRlIj4NCiAgPGNpcmNsZSBjeD0iMyIgY3k9IjciIHI9IjMiLz4NCiAgPGNpcmNsZSBjeD0iMTUiIGN5PSI3IiByPSI1Ii8+DQogIDxjaXJjbGUgY3g9IjMyIiBjeT0iNyIgcj0iNyIvPg0KPC9nPg0KPC9zdmc+');
                opacity: 1;
            }
            &:after {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjdweCIgaGVpZ2h0PSIxNHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGZpbGw9IndoaXRlIj4NCiAgPGNpcmNsZSBjeD0iMzUiIGN5PSI3IiByPSI3Ii8+DQogIDxjaXJjbGUgY3g9IjUyIiBjeT0iNyIgcj0iNSIvPg0KICA8Y2lyY2xlIGN4PSI2NCIgY3k9IjciIHI9IjMiLz4NCjwvZz4NCjwvc3ZnPg==');
                opacity: 1;
            }
        }
    }
    &-medium {
        font-size: rem(35px);
        margin: 0 auto rem(30px);
        @include tablets {
            font-size: rem(30px);
        }
        @include iphone {
            font-size: rem(21px);
            margin: 0 auto rem(20px);
            line-height: 1.4;
        }
        &:before,
        &:after {
            width: rem(24px);
        }
        &:before {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjE0cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyBmaWxsPSJibGFjayI+CiAgPGNpcmNsZSBjeD0iMyIgY3k9IjciIHI9IjMiLz4KICA8Y2lyY2xlIGN4PSIxNSIgY3k9IjciIHI9IjUiLz4KPC9nPgo8L3N2Zz4=');
        }
        &:after {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAgd2lkdGg9IjI0cHgiIGhlaWdodD0iMTRweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8ZyBmaWxsPSJibGFjayI+DQogIDxjaXJjbGUgY3g9IjkiIGN5PSI3IiByPSI1Ii8+DQogIDxjaXJjbGUgY3g9IjIxIiBjeT0iNyIgcj0iMyIvPg0KPC9nPg0KPC9zdmc+');
        }
        &_white {
            color: white;
            &:before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjE0cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGcgZmlsbD0id2hpdGUiPg0KICA8Y2lyY2xlIGN4PSIzIiBjeT0iNyIgcj0iMyIvPg0KICA8Y2lyY2xlIGN4PSIxNSIgY3k9IjciIHI9IjUiLz4NCjwvZz4NCjwvc3ZnPg==');
                opacity: .4;
            }
            &:after {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAgd2lkdGg9IjI0cHgiIGhlaWdodD0iMTRweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8ZyBmaWxsPSJ3aGl0ZSI+DQogIDxjaXJjbGUgY3g9IjkiIGN5PSI3IiByPSI1Ii8+DQogIDxjaXJjbGUgY3g9IjIxIiBjeT0iNyIgcj0iMyIvPg0KPC9nPg0KPC9zdmc+');
                opacity: .4;
            }
        }
    }
}

.view-toggle {
    text-align: center;
    z-index: 1;
    position: absolute;
    line-height: 1;
    bottom: rem(71px);
    left: 50%;
    transform: translateX(-50%);
    &-wrap {
        height: rem(156px);
        position: relative;
    }
    &__btn {
        color: white;
        font-size: rem(26px);
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    @include tablets {
        margin: rem(38.5px) 0;
    }
    @include iphone {
        margin: rem(35px) 0;
    }
}

.chart {
    color: $light-brown;
    font-size: rem(12px);
    circle {
        fill: rgba(0, 0, 0, 0);
        stroke: #dfdcd5;
    }
    circle:nth-child(2n) {
        fill: rgba(0, 0, 0, 0);
        stroke: $light-brown;
    }
}

.preloader {
    position: fixed;
    // display: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: $light-brown;
    color: white;
    &__info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
    }
    &__anim {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        border: 1px solid blue;
    }
}

#map {
    width: 100%;
    height: 100%;
}