html {
    font-size: $html-font-size;
    min-height: 100%;
}

body {
    font-family: 'RobotoRegular';
    color: $light-grey;
    height: 100%;
    line-height: 1.65;
    background: $white;
    @include tablets {
        font-size: rem(14px);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.maincontent {
    width: 100%;
    height: 100%;
}

.btn {
    color: white;
    background: rgba($light-brown, .85);
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: 'RobotoMedium';
    padding: rem(11px) rem(27px);
    line-height: 1.45;
    &:hover {
        background: rgba($dark-brown, 0.85);
    }
    .fa {
        margin-right: rem(10px);
        vertical-align: bottom;
        font-size: rem(22px);
    }
    @include iphone {
        padding: rem(9px) rem(21px);
    }
}

.window {
    overflow: hidden;
    border-radius: rem(5px);
    backface-visibility: hidden;
    width: rem(380px);
    transition: 1s;
    background: rgba(#d7bf9b, .3);
    margin: auto;
    @include tablets {
        width: rem(348px);
    }
    @include iphone {
        width: rem(300px);
    }
    &-content {
        padding: rem(38px) rem(20px) rem(20px);
    }
    &-btns {
        display: table;
        width: 100%;
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: table-row;
        }
        &__item {
            display: table-cell;
            border-left: 1px solid #e2c68c;
            border-right: 1px solid #e2c68c;
            &:hover {
                border-color: #d5b683;
            }
            &:first-child {
                border-left: 0;
            }
            &:last-child {
                border-right: 0;
            }
            &_half {
                width: 50%;
            }
        }
        &__link {
            border-radius: 0;
            width: 100%;
            @include iphone {
                padding: rem(12.5px) rem(21px);
            }
        }
    }
}

.title {
    &-large,
    &-medium {
        font-family: 'SansusRegular';
        text-transform: uppercase;
        text-align: center;
        line-height: 1.15;
    }
    &-large {
        font-size: rem(63px);
        margin: rem(70px) auto;
        letter-spacing: rem(1.5px);
        @include tablets {
            font-size: rem(49px);
            letter-spacing: rem(1px);
        }
        @include iphone {
            font-size: rem(35px);
        }
    }
    &-medium {
        font-size: rem(35px);
        margin: 0 auto rem(30px);
        @include tablets {
            font-size: rem(30px);
        }
        @include iphone {
            font-size: rem(21px);
            margin: 0 auto rem(20px);
            line-height: 1.4;
        }
    }
}

.view-toggle {
    text-align: center;
    z-index: 1;
    margin: rem(58px) 0;
    &__btn {
        color: white;
        font-size: rem(26px);
    }
    @include tablets {
        margin: rem(38.5px) 0;
    }
    @include iphone {
        margin: rem(35px) 0;
    }
}

.chart {
    color: $light-brown;
    font-size: rem(12px);
    circle {
        fill: rgba(0, 0, 0, 0);
        stroke: #dfdcd5;
    }
    circle:nth-child(2n) {
        fill: rgba(0, 0, 0, 0);
        stroke: $light-brown;
    }
}