a {
    color: $blue;
    font-family: 'RobotoMedium';
    &:hover {
        text-decoration: none;
    }
}

a,
input,
input+label:before,
.input-icon {
    transition: $transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SansusRegular';
}

ul {
    list-style-type: disc;
}

table {
    border: 1px solid $light-brown;
}

caption {
    color: white;
    background: $light-brown;
    padding: rem(5px);
    font-family: 'SansusRegular';
    font-size: rem(20px);
}

thead {
    font-family: 'RobotoMedium';
    text-align: center;
}

td,
th {
    border: 1px solid $light-brown;
    padding: rem(10px);
}

hr {
    border: 1px solid $light-brown;
}

strong {
    font-family: 'RobotoMedium';
    color: $dark-brown;
    font-weight: normal;
}

input,
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 100%;
    border-radius: rem(3px);
    border: none;
    padding: rem(9px) rem(20px);
    border: 1px solid white;
    line-height: inherit;
    margin-bottom: rem(20px);
    &:focus {
        border-color: $light-brown;
        +.input-group__icon {
            color: $light-brown;
        }
    }
    @include iphone {
        padding: rem(10px) rem(20px);
    }
    &.error {
        border-color: $red;
        +.input-group__icon {
            color: $red;
        }
    }
}

textarea {
    transition: $transition;
}

input[type="checkbox"] {
    display: none;
    &+label {
        &:before {
            display: inline-block;
            content: "";
            font-size: rem(12px);
            width: rem(20px);
            height: rem(20px);
            background: white;
            margin-top: rem(-5px);
            margin-right: rem(10px);
            vertical-align: middle;
            border-radius: rem(4px);
            line-height: rem(20px);
        }
    }
    &:checked+label:before {
        content: "\f00c";
        color: white;
        background: $light-brown;
        font-family: 'FontAwesome';
    }
}

input[type="radio"] {
    display: none;
    &+label {
        margin: 0 rem(21px);
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: rem(18px);
            height: rem(18px);
            background: white;
            border-radius: 50%;
            border: rem(5px) solid white;
            margin-right: rem(10px);
            margin-top: rem(-3px);
            box-shadow: 0 0 2px 0 #d2d2d2;
        }
    }
    &:checked+label:before {
        background: $light-brown;
    }
}

.input-group {
    margin: 0 0 rem(20px);
    display: flex;
    flex-direction: row-reverse;
    input {
        border-radius: 0 rem(5px) rem(5px) 0;
    }
    input {
        border-radius: 0 rem(5px) rem(5px) 0;
    }
    &__icon {
        background: #f0efe9;
        border-radius: rem(5px) 0 0 rem(5px);
        width: rem(45px);
        padding: rem(8px);
        flex-shrink: 0;
        text-align: center;
        color: #c4cbcd;
        transition: $transition;
    }
    &>input {
        margin: 0;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
}

p {
    margin: rem(10px) 0;
    @include tablets {
        margin: rem(9px) 0;
    }
}