.header_blog {
    // height: rem(396px);
    width: auto;
    .avatar {
        margin: auto;
    }
}

.blog {
    @extend %clearfix;
    padding-top: rem(70px);
    &-title {
        margin: rem(30px) 0 0;
    }
    &-nav {
        &-list {
            list-style: none;
            margin: rem(-12px) 0;
            padding: 0;
        }
        &__item {
            margin: rem(12px) 0;
        }
        &__link {
            display: block;
            color: $light-grey;
            text-decoration: none;
            text-align: right;
            padding: rem(8px) rem(18px);
            border-right: rem(3px) solid transparent;
            font-family: 'RobotoRegular';
            &_active {
                font-family: 'RobotoMedium';
                color: $light-brown;
                border-color: $light-brown;
            }
        }
    }
    .sidebar {
        width: 25%;
        float: left;
        padding-left: rem(10px);
        margin-left: rem(10px);
    }
    .content {
        float: left;
        width: 65%;
        padding: 0 rem(20px);
        margin-left: rem(79px);
    }
}

.articles {
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &-item {
        padding: 0 0 rem(63px);
        margin: 0 0 rem(70px);
        border-bottom: 5px solid #ecebe4;
        &:last-child {
            border: none;
        }
    }
    &__title {
        text-align: left;
        text-transform: none;
        margin: 0 0 rem(12px);
        line-height: 1.2;
        @extend .title-medium;
    }
    &__date {
        color: $dark-brown;
    }
}