.header_blog {
    // height: rem(396px);
    width: auto;
    .avatar {
        margin: auto;
    }
    .header__bg {
        fill: white;
    }
}

.blog {
    @extend %clearfix;
    &-title {
        margin: rem(30px) 0 0;
        line-height: 1;
    }
    &-nav {
        padding-top: rem(75px);
        @include media-query(900px) {
            position: fixed;
            right: 100%;
            top: 0;
        }
        &_fixed {
            position: fixed;
            left: rem(10px);
            top: 0;
            width: 25%;
            @include media-query(900px) {
                right: 100%;
                left: auto;
            }
        }
        &-list {
            list-style: none;
            margin: rem(-12px) 0;
            padding: 0 0 0 rem(10px);
        }
        &__item {
            margin: rem(10px) 0;
        }
        &__link {
            display: block;
            color: $light-grey;
            text-decoration: none;
            text-align: right;
            padding: rem(8px) rem(18px);
            border-right: rem(3px) solid transparent;
            font-family: 'RobotoRegular';
            &_active {
                font-family: 'RobotoMedium';
                color: $light-brown;
                border-color: $light-brown;
            }
        }
    }
    .sidebar {
        width: 25%;
        height: 100%;
        min-height: 100vh;
        // щоб залишилася ширина, коли меню стане фіксованим
        float: left;
        margin-left: rem(10px);
        @include media-query(900px) {
            width: 0;
            margin: 0;
        }
    }
    .content {
        float: left;
        width: 65%;
        padding: rem(68px)0 0 rem(98px);
        @include media-query(900px) {
            width: 100%;
            padding: rem(68px) rem(24px) 0;
        }
    }
}

.articles {
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &-item {
        padding: 0 0 rem(63px);
        margin: 0 0 rem(68px);
        border-bottom: 5px solid #ecebe4;
        &:last-child {
            border: none;
        }
        @include tablets {
            padding: 0 0 rem(44px);
            margin: 0 0 rem(46px);
        }
    }
    &__title {
        text-align: left;
        text-transform: none;
        margin: 0 0 rem(10px);
        line-height: 1.2;
        @extend .title-medium;
        @include tablets {
            margin: 0 0 rem(6px);
        }
    }
    &__date {
        color: $dark-brown;
        margin: 0 0 rem(16px);
        @include tablets {
            font-size: rem(14px);
            // margin: 0 0 rem(6px);
            margin: 0;
        }
    }
    &-content {
        line-height: 1.55;
    }
}