.works {
    &-body {
        background-color: #f0e6d2;
        background-image: url('../img/works/sand.png');
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    &-top {
        background: white;
        @extend %clearfix;
    }
}

.slider {
    position: relative;
    &-list {
        @extend %clearfix;
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100vh;
    }
    &-item {
        // position: absolute;
        width: 100vw;
        height: 100vh;
    }
    &-descr {
        height: 100vh;
        width: 50%;
        outline: 1px solid green;
        float: left;
        text-align: center;
        display: flex;
        &-block {
            width: 70%;
            margin: auto;
        }
    }
    &__info {
        text-transform: uppercase;
        padding: rem(20px) 0;
        margin: rem(40px) 0;
        border-top: 2px solid #aeaeab;
        border-bottom: 2px solid #aeaeab;
        color: $dark-brown;
    }
    &-img {
        width: 50%;
        height: 100vh;
        padding-bottom: 30vh;
        float: right;
        outline: 1px solid blue;
    }
    &__pic {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }
    &-ctrl {
        outline: 1px solid red;
        position: absolute;
        width: 50vw;
        height: 30vh;
        bottom: 0;
        right: 0;
        &-prev,
        &-next {
            width: 50%;
            height: 100%;
            float: left;
            outline: 1px solid orange;
        }
    }
}

.quotes {
    width: rem(800px);
    margin: auto;
    &-list {
        @extend %clearfix;
        list-style: none;
        margin: rem(45px) 0 rem(72px);
        padding: 0;
        overflow: hidden;
    }
    &__item {
        width: rem(380px);
        margin: 0 rem(10px);
        float: left;
    }
    &__text {
        margin: 0 0 rem(21px);
    }
    &-author {
        color: $dark-brown;
        &-person {
            display: inline-block;
            vertical-align: middle;
            margin-left: rem(16px);
        }
        &__name {
            font-family: 'RobotoBold';
        }
        &__avatar {
            width: rem(78px);
            height: rem(78px);
            background-image: url('http://lorempixel.com/output/nature-q-c-640-480-2.jpg');
            background-size: cover;
            vertical-align: middle;
            display: inline-block;
            border-radius: 50%;
            &_kovalchuk {
                background-image: url('../img/works/kovalchuk.png');
            }
            &_zakharov {
                background-image: url('../img/works/zakharov.png');
            }
        }
    }
}

.feedback {
    &_window {
        &__textarea {
            min-height: rem(140px);
            margin-bottom: 0;
        }
    }
}