.avatar {
    color: white;
    text-align: center;
    line-height: 1.3;
    &__img {
        overflow: hidden;
        // width: rem(140px);
        // height: rem(140px);
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-image: url('../img/misc/avatar.jpg');
        margin: auto;
    }
    &__name {
        margin-top: rem(13px);
        font-size: rem(35px);
        line-height: 1.45;
        font-family: 'RobotoMedium';
        @include iphone {
            font-size: rem(21px);
            margin-top: rem(27px);
        }
    }
    &__title {
        @include iphone {
            margin-top: rem(7px);
        }
    }
}