.socials {
    text-align: center;
    &-list {
        padding: 0;
        margin: 0 rem(-12px);
        list-style: none;
        line-height: 1;
    }
    &__item {
        display: inline-block;
    }
    &__link {
        font-size: rem(28px);
        color: rgba(white, .7);
        margin: 0 rem(12px);
        &:hover {
            color: white;
        }
    }
}